<!-- Inicia navbar --> 
<div class="row">	
		<div class="side-nav fixed  white z-depth-4">
		        <ul class="collection">
		        	<!-- Usuario admin  o cajero -->
		        		<li class="collection-item avatar">
					      <img src="img/avatar/persona.jpg" alt="" class="circle">
					      
					      <p>Hola, <br>
					        	{{actual.nombre}}
					      </p>
					      <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
					    </li>
		        	<!-- Inician elementos de la barra de navegacion -->
		        	<li class="collection-item avatar">
				    	<a href="/home"><i class="material-icons circle red">store</i>
				      		<span class="title">Inicio</span>
				      	</a>
				    </li>
				    <li class="collection-item avatar">
				    	<a href="/verOrdenes"><i class="material-icons circle red">receipt</i>
				      	Ordenes
				      	</a>
				    </li>
		        </ul>
		    </div>

<!-- Finaliza navbar -->
	    

<!-- Incia contenido principal -->
<div class="main">
    	<div class="row">
      		<div class="container">
      			<div class="col s12 ">
		      		<div class="row">

		      			<h5>Agregar orden</h5>
		      			<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Seleccionar Platillo</a>
		      			<table>
					        <thead>
					          <tr>
					              <th data-field="nombre">Descripción</th>
					              <th data-field="precio">Item Price</th>
					              <th data-field="cantidad">Cantidad</th>
					          </tr>
					        </thead>

					        <tbody>
					          <tr>
					            <td>Alvin</td>
					            <td>Eclair</td>
					            <td>$0.87</td>
					          </tr>
					          <tr>
					            <td>Alan</td>
					            <td>Jellybean</td>
					            <td>$3.76</td>
					          </tr>
					          <tr>
					            <td>Jonathan</td>
					            <td>Lollipop</td>
					            <td>$7.00</td>
					          </tr>
					          <th data-field="price">Total</th>
					          <th data-field="price">45.54</th>
					        </tbody>
					      </table>
		      			<!-- Dropdown Trigger -->
						  

						  <!-- Dropdown Structure -->
						  <ul id='dropdown1' class='dropdown-content'>
						    <li ng-repeat="platillo in menu"><a href="#" ng-click="agregarPlatillo(platillo._id)">{{platillo.nombre}}</a></li>
						  </ul>
		      		</div>
				</div>
      		</div>
      	</div>
	</div>	
</div>

<script>
	$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'right' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>
<!-- Termina contenido principal -->
