<!-- Inicia navbar --> 
<div class="row">	
		<div class="side-nav fixed  white z-depth-4">
		        <ul class="collection">
		        	<!-- Usuario admin  o cajero -->
		        		<li class="collection-item avatar">
					      <img src="img/avatar/persona.jpg" alt="" class="circle">
					      
					      <p>Hola, <br>
					        	{{actual.nombre}}
					      </p>
					      <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
					    </li>
		        	<!-- Inician elementos de la barra de navegacion -->
		        	<li class="collection-item avatar">
				    	<a href="/home"><i class="material-icons circle red">store</i>
				      		<span class="title">Inicio</span>
				      	</a>
				    </li>
				    <li class="collection-item avatar">
				    	<a href="/verMenu"><i class="material-icons circle red">receipt</i>
				      	Menu
				      	</a>
				    </li>
				    <li class="collection-item avatar">
				    	<a href="/verOrdenes"><i class="material-icons circle red">view_list</i>
				      	Ordenes	
				      	</a>
				    </li>
				    <li class="collection-item avatar">
				    	<a href="/verUsuarios"><i class="material-icons circle red">perm_identity</i>
				      	Usuarios
				      	</a>
				    </li>
				    <div class="divider"></div>
				    <li class="collection-item avatar">
				    	<a href="/info"><i class="material-icons circle red">assignment_ind</i>
				      	Info	
				      	</a>
				    </li>  
				    <li class="collection-item avatar">
				    	<a href="#" ng-click="doLogout()"><i class="material-icons circle red">power_settings_new</i>
				      	Salir	
				      	</a>
				    </li> 
		        </ul>
		    </div>
<!-- Termina navbvar -->


<!-- Contenido principal -->	    
    	<div class="main">
    		<div class="row">
      			<div class="col s4">
	      			<div class="card">
	      				<div class="card-image">
	      					<img src="img/platillos/pozole.png">
	      				</div>
	      				<div class="card-content">
	      					<span class="card-title grey-text text-darken-4">Platillo del dia</span>
	      					<br>La especialidad de la casa, uno de los platillos más pedidos.
	      				</div>
	      				<div class="card-action">
	      					<a href="#">Promocionar</a>
	      				</div>
	      			</div>
      			</div>
      		<div class="col s4">
      			<div class="card">
      				<div class="card-content">
      					<span class="card-title grey-text text-darken-4">Ordenes recientes</span>
      				</div>
      				<div class="card-action">
      					<div class="collection">
        					<a href="#!" class="collection-item active">Algo rico</a>
        					<a href="#!" class="collection-item">Algo rico</a>
        					<a href="#!" class="collection-item">Algo rico</a>
        					<a href="#!" class="collection-item">Algo rico</a>		
      					</div>
      				</div>
      			</div>
      		</div>
      		<div class="col s4">
      			<div class="card">
      				<div class="card-content">
      					<span class="card-title grey-text text-darken-4">Ordenes completadas</span>
      				</div>
      				<div class="card-action">
      					<div class="collection">
        					<a href="#!" class="collection-item active">Algo rico</a>
        					<a href="#!" class="collection-item">Algo rico</a>
        					<a href="#!" class="collection-item">Algo rico</a>
        					<a href="#!" class="collection-item">Algo rico</a>		
      					</div>
      				</div>
      			
      			</div>
      		</div>
      	</div>
	</div>	
</div>

<!-- Termina contenido principal -->