<!-- Inicia  navbar -->
<div class="row">	
		<div class="side-nav fixed  white z-depth-4">
		        <ul class="collection">
		        	<!-- Usuario admin  o cajero -->
		        		<li class="collection-item avatar">
					      <img src="img/avatar/persona.jpg" alt="" class="circle">
					      
					      <p>Hola, <br>
					        	{{actual.nombre}}
					      </p>
					      <a href="#" class="secondary-content"><i class="material-icons">grade</i></a>
					    </li>
		        	<!-- Inician elementos de la barra de navegacion -->
		        	<li class="collection-item avatar">
				    	<a href="/home"><i class="material-icons circle red">store</i>
				      		<span class="title">Inicio</span>
				      	</a>
				    </li>
				    <li class="collection-item avatar">
				    	<a href="/ordenesPendientes"><i class="material-icons circle red">assignment_late</i>
				      		<span class="title">Pendientes</span>
				      	</a>
				    </li>
				    <li class="collection-item avatar">
				    	<a href="#" ng-click="doLogout()"><i class="material-icons circle red">receipt</i>
				      	Salir
				      	</a>
				    </li>
		        </ul>
		    </div>
<!-- Termina navbar -->


<!-- Inicia principal --> 
    <div class="main">
    		<div class="row">
      			<div class="col s12">
	      				 <div class="row">
	      				 	<h5>Historial de ordenes</h5>
	      				 	<br>
	      				 	<table class="highlight">
						        <thead>
						          <tr>
						              <th data-field="id">id</th>
						              <th data-field="descripcion">Descripcion</th>
						              <th data-field="llevar">Para llevar</th>
									  <th data-field="fecha">Fecha</th>	
									  <th data-field="estado">Estado</th>
						              <th></th>
						              <th></th>
						          </tr>
						        </thead>
						        <tbody ng-repeat="orden in ordenes | orderBy:'fecha'">
						          <tr>
						            <td>{{orden._id}}</td>
						            <td>{{orden.descripcion}}</td>
						            <td ng-if="orden.llevar == true">Si</td>
						            <td ng-if="orden.llevar == false">No</td>

						            <td>{{orden.fecha | date:'MM/dd/yyyy @ h:mma'}}</td>
						            
						            <td ng-if="orden.estado == 1">Nueva</td>
						            <td ng-if="orden.estado == 2">En Proceso</td>
						            <td ng-if="orden.estado == 3">Terminada</td>
						            <td><a href="/verOrden/{{orden._id}}">Ver</a></td>
						            <td><a href="#" ng-click="eliminarOrden(orden._id)">Eliminar</a></td>
						            <!-- <td><a href="#" ng-click="eliminarOrden(orden._id)">Eliminar</a></td> -->
						          </tr>
						          
						        </tbody>
      						</table>
	      				 </div>
	      			</div>
			</div>	
		</div>
   	</div>
	
<!-- Termina contenido principal -->
