body{
	background: #F7F7F7;
}
nav .brand-logo{
	color:#000;
}
nav ul a{
	color:#000;
}

nav a{
	color: #000;
}

nav .top-nav{
	box-shadow: none;
}

.side-nav .fixed{
	color: #FFF;
}

.collection {
	border:none;
}

.collection .collection-item{
	border-bottom:none;
}

 header, .main, footer {
    padding-left: 240px;
    padding-top: 25px;
  }

  @media only screen and (max-width : 992px) {
    header, .main, footer {
      padding-left: 0;
      padding-top: 25px;
    }
  }
/*.card.small {
    height: 350px;
}*/

/*.card.small .card-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	margin-top: 0px;
}*/

/*.row .col.s4 {
	margin-left: 15%;
}*/