<!DOCTYPE html>
<html >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Sistema para la gestión de cafeteria en web</title>
	<link href="styles/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <link href="styles/icons/icons.css" rel="stylesheet">
    <script type="text/javascript" src="main/lib/jquery.min.js"></script>
	<script type="text/javascript" src="main/lib/materialize.min.js"></script>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script> 
	<script src="main/lib/ng-file-upload.js"></script> 


	<base href="/">

	<!-- controladores --> 	
	<script src="main/controllers/mainCtrl.js"></script>
	<script src="main/controllers/menuCtrl.js"></script>
	<script src="main/controllers/usuarioCtrl.js"></script>

	<!-- servicios -->	
	<script src="main/services/authService.js"></script>
	<script src="main/services/menuService.js"></script>
	<script src="main/services/usuarioService.js"></script>
	<script src="main/services/multipartFormService.js"></script>
	<!-- directivas --> 
	<script src="main/directives/fileModel.js"></script>

	<!-- definicion aplicacion angular -->
	<script src="main/cafeteriaApp.routes.js"></script>
	<script src="main/cafeteriaApp.js"></script>
</head>
<body ng-app="cafeteriaApp">

	<nav class="top-nav teal lighten-3 z-depth-0">
		<div class="container">
			<div class="nav-wrapper container">
				<span class="page-title">Dashboard</span>
			</div>					
		</div>
	</nav>

	<div ng-view></div>
	
	<!--<script src="main/lib/angular.min.js"></script>
	<script src="main/lib/angular-route.min.js"></script>-->
	
	
	
</body>
</html>

