<ion-view title="platillo">


  <ion-nav-buttons side="left">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
        ng-click="data.showDelete = !data.showDelete;"></button>
    </div>
 </ion-nav-buttons>

 <ion-nav-buttons side="right">
   <div class="buttons">
     <a class="button button-icon ion-card"  href="#/tab/carrito/compra"></a>
   </div>
 </ion-nav-buttons>

  <ion-content padding=true>

    <ion-list show-delete="data.showDelete">
      <ion-item class="item-remove-animate item-thumbnail-left  item-icon-right"
                  ng-repeat="platillo in menu" type="item-text-wrap" >
        <img ng-src="{{ platillo.url_img }}">
        <h2>{{ platillo.nombre }}</h2>
        <h4>{{ platillo.descripcion }}</h4>


        <ion-delete-button class="ion-minus-circled" ng-click="eliminarPlatillo(platillo)">
        </ion-delete-button>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
