<ion-view title="compra">

  <ion-content padding=true>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        {{usuario.nombre}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-restaurant"></i>
        {{NumeroPlatillos}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-calendar"></i>
        <span>{{CurrentDate | date:'medium'}}</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-cash"></i>
        {{precioTotal|currency}}
      </a>

      <ion-toggle ng-model="compra.llevar"

               class="item item-icon-left" href="#">
               <i class="icon ion-android-car"></i>
               Para llevar?
      </ion-toggle>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Descripción</span>
        <input type="text" placeholder="Example...." ng-model="compra.descripcion">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="pedirOrden()">
    Pedir
    </button>
  </ion-content>
</ion-view>
