<ion-view title="home">
  <ion-content padding=true>
<div class="list card">

  <div class="item item-body">
    <img class="full-image"
    src="http://static.wixstatic.com/media/78fbb5_656a9e29a2fb14ddb9c00d12a86e4e92.png_srz_290_169_85_22_0.50_1.20_0.00_png_srz">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
    <p>
      <a href="#" class="subdued">{{(646) 129-11-11 | tel}}</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>



</div>
  </ion-content>
</ion-view>
