<ion-view title="home">
  <ion-content padding=true>
    <div class="list card">

  <div class="item" style="text-align: center;">

    <h1>{{info.nombre}}</h1>
    <p>{{info.direccion}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{info.url}}">
    <p>{{info.descripcion}}</p>
    <p>
      <a href="#" class="subdued">
        <i class="ion-android-call"></i>
        {{info.telefono}}
      </a>
      <a href="{{info.pagina}}" class="subdued">
        <i class="ion-ios-world"></i>
        {{info.pagina}}
      </a>
    </p>
  </div>
  <!--
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
-->
</div>
  </ion-content>
</ion-view>
