<ion-view title="login">
      <ion-content scroll="false" padding=true>

        <div class = "col header text-center">
           <img src="./img/ionic.png" class = "logo" />
        </div>


        <form ng-submit="doLogin(emailLogin,passwordLogin)">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Usuario</span>
              <input  type="email" ng-model="emailLogin" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Constraseña</span>
              <input type="password"  ng-model="passwordLogin" required>
            </label>
          </div>

          <!--<div class = "col text-right">
              <strong><a href = "#/recover">Olvidaste tu contraseña?</a></strong>
          </div>-->

          <button class="button button-block button-positive" type="submit">
            Iniciar sesión
          </button>
        </form>
        <div class = "col text-center">
            No tienes una cuenta? <strong><a href = "#/register">Registrate!</a></strong>
        </div>
    </ion-content>
</ion-view>
