<ion-view title="Registro">
  <ion-nav-bar class="bar bar-header bar-positive">
  <ion-nav-back-button>

  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content padding=true scroll=false>
    <form>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Nombre">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Apellidos">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Contraseña">
        </label>
      </div>
      <button class="button button-block button-positive">
        Registrate :)
      </button>
    </form>
  </ion-content>
</ion-view>
