<ion-tabs class="tabs-icon-top tabs-positive">





 <!-- Home Tab -->
 <ion-tab title="Home" icon="icon ion-android-home" href="#/tab/friends">
 <ion-nav-view name="tab-friends"></ion-nav-view>
 </ion-tab>

 <!-- Menu de Comida Tab -->
 <ion-tab title="Menu" icon="icon ion-ios-book" href="#/tab/menu">
 <ion-nav-view name="tab-menu"></ion-nav-view>
 </ion-tab>


 <!-- Account Tab -->
 <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/account">
 <ion-nav-view name="tab-account"></ion-nav-view>
 </ion-tab>

 <ion-tab title="Carrito" icon="icon ion-ios-cart" href="#/tab/carrito">
   <ion-nav-view name="tab-carrito"></ion-nav-view>
 </ion-tab>


</ion-tabs>
