<ion-tabs class="tabs-icon-top tabs-positive">





 <!-- Home Tab -->
 <ion-tab title="Home" icon="icon ion-android-home" href="#/tab/home">
 <ion-nav-view name="tab-home"></ion-nav-view>
 </ion-tab>

 <!-- Menu de Comida Tab -->
 <ion-tab title="Menu" icon="icon ion-ios-book" href="#/tab/menu">
 <ion-nav-view name="tab-menu"></ion-nav-view>
 </ion-tab>

 <ion-tab title="Carrito" icon="icon ion-ios-cart" href="#/tab/carrito" ng-controller="carritoCtrl" badge="3" badge-style="badge-assertive" >
   <ion-nav-view name="tab-carrito"></ion-nav-view>
 </ion-tab>

 <!-- Account Tab -->
 <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
 <ion-nav-view name="tab-settings"></ion-nav-view>
 </ion-tab>




</ion-tabs>
